<!doctype html>
<html>
    <head>     
    </head>
    <body>
    <h1>Sign Up!</h1>
    <form action=main.py method='POST'>
            <label>Username:</label>
            <input type="text" name="username" value=" " /> <br/>
            <label>Password:</label>
            <input type="password" name="password" /> <br/>
            <label>Verify Password:</label>
            <input type="password" name="password2" /> <br/>
            <label>Email(Optional):</label>
            <input type="text" name="email"/> <br/>
            <input type="submit" value="Submit Query">
        </form>
    
    </body>

</html>